*{
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR BELOW */ 

.navContainer{
display: flex;
padding: 2em 3em;
background-color: rgb(19, 19, 19);
justify-content: space-between;
flex-direction: row;
border-bottom-style: solid;
border-width: 20px;
border-color: green;
}

.navLogo{
    align-self: flex-end;
    width: 100px;
    height: auto;
}

.navigationListLeft{
display: flex;
flex-direction: column;
flex-wrap: wrap;
list-style: none;
gap: 2em;
align-self: start;
flex: 1;
}


.navigationListLeft a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.navigationListLeft a:hover{
    color: red;
    transition: 500ms;
}
.navigationListLeft a:hover::before{
    width: 5%;
    transition: 1s;
}

.navigationListRight{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    gap: 1em;
    align-self: flex-start;
    flex: 1;
}

.navigationListRight a{
    display: flex;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: end;
}

.navigationListRight a:hover{
    color: red;
    transition: 500ms;
}
.navigationListRigth a:hover::before{
    width: 5%;
    transition: 1s;
}



/* FOOTER BELOW */ 






/* MAIN CONTENT BELOW */ 

.indexContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:silver;
}

.indexImage{
    width: 500px;
    height: auto;
    opacity: 0.75;
}

#down{
    border: solid black 2px;
    background-color: aquamarine; 
    opacity: 0.75;
}
#down:hover{
    opacity: 1;
    color: red;
}
