*{
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR BELOW */ 

.navContainer{
display: flex;
padding: 0em 0.em;
background-color: #F5F5F5;
flex-direction: column;
border-bottom: 2px solid rgb(255, 255, 255);
font-family: 'Montserrat', sans-serif;
}

.UpperNav{
    margin-top: 1em;
    align-self: center;
    height: 2.5em;
}

.navigationList{
display: flex;
flex-direction: row;
list-style: none;
justify-content: space-evenly;
border-width: 2px;;
}

.navigationList li{
    display: flex;
    width: 10em;
    height: 2em;
    padding: 1%;
    justify-content: center;
}
.navigationList li:first-of-type{
    background-color: #0F1626;
    border-radius: 5%;

}
.navigationList li:nth-of-type(2){
    background-color: #AB987A;
    border-radius: 5%;
}
.navigationList li:nth-of-type(3){
    background-color: #0F1626;
    border-radius: 5%;
}
.navigationList li:nth-of-type(4){
    background-color:#AB987A;
    border-radius: 5%;
}
.navigationList li:nth-of-type(5){
    background-color: #FF533D;
    border-radius: 5%;
}

.navigationList a{
display: flex;
color:#F5F5F5;
text-decoration: none;

align-items: center;
}

.navigationList a:hover{
    transition: ease-in-out 2s;
}





/* FOOTER BELOW */ 

.footerContainer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #171717;
    margin-top: 2em;
    align-self: center;
    
    
    }
    
    .footerContainer img{
        width: 50px;
        height: auto;
        align-self: center;
        padding-top: 1em; 
    }




/* MAIN CONTENT BELOW */ 

.indexContainer{
    margin: 2em 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgb(255, 255, 255);
}

#headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 2em;
}

#headline h1{
    font-size: 32px;
    font-family: sans-serif /* Font family må endres */ 
}

#headline p{
    font-size: 24px;
    font-family: sans-serif /* Font family må endres */ 
}


.indexImage{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;

}

#under{
    display: flex;
   
}

#under ul{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    gap: 3em;
}
#under li{
    display: flex;
    flex-direction: row;
    opacity: 0.9;
}
#under a{
    border: black solid 2px;
    background-color: #0F1626;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 10%;
}

#under a:nth-of-type(2){
    background-color: red;
}